<mat-card class="query-card mat-elevation-z3">

  <mat-card-header>
    <mat-card-title>Query Sold Price Data</mat-card-title>
    <mat-card-subtitle>Adjust the values below and click Search to update the grid!</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form">

      <fieldset *ngFor="let item of query; index as i;">
        <legend>Sold Price Range Query</legend>

        <mat-form-field>
          <input matInput placeholder="Name" value="{{item.name}}" [(ngModel)]="item.name" name="{{'name' + i}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Label" value="{{item.label}}" [(ngModel)]="item.label" name="{{'label' + i}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lower Range" type="number" value="{{item.low}}"
                 [(ngModel)]="item.low" name="{{'low' + i}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Upper Range" type="number" value="{{item.high}}"
                 [(ngModel)]="item.high" name="{{'high' + i}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="BackgroundColor" value="{{item.backgroundColor}}"
                 [(ngModel)]="item.backgroundColor" name="{{'backgroundColor' + i}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="PointRadius" type="number" value="{{item.pointRadius}}"
                 [(ngModel)]="item.pointRadius" name="{{'pointRadius' + i}}">
        </mat-form-field>

      </fieldset>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="performQuery()">Search</button>
  </mat-card-actions>

</mat-card>
