@import '~@angular/material/theming';
@include mat-core();

$default-typography: mat-typography-config();
$app-primary: mat-palette($mat-green, 800, 500, 700);
$app-accent: mat-palette($mat-blue, A200, A100, A400);
$app-warn: mat-palette($mat-red, 500, 100, 700);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
.app-theme {
  @include angular-material-theme($app-theme);
}
